@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To get started with your Kanban board you need to <a href="/Identity/Account/Login">login</a>.</p>
</div>
