@model KanbanBoardMVCApp.ViewModels.KanbanBoardVM

@{
    ViewData["Title"] = "Index";
}

<h1>Kanban Board</h1>
<p>Her skal jeg lave mit kanban board og de operation man kan foretage sig på det. (Singular Kanban board. Multiple not possible.)</p>


<table class="table table-dark">
    <thead>
        @foreach (var column in Model.KanbanColumns)
        {
            <tr>
                @column.Headline
            </tr>
        }
    </thead>
    <tbody>
     No work 
    @foreach (var toDo in Model.ToDoItems)
    {
        <tr>
            <td>
                @toDo.Title
            </td>
        </tr>
    }
    </tbody>
</table>
